@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://npmcdn.com/react-bootstrap-table@2.7.1/dist/react-bootstrap-table-all.min.css');
@import url('https://unpkg.com/react-select/dist/react-select.css');
// @import '../../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css';
/*
 * Base structure
 */

 html {
  position: relative;
  min-height: 100%;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-bottom: 50px;
  margin-top: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  // background: linear-gradient(#48B 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #48B 50%, rgba(255, 255, 255, 0) 0) 55px 0 #FFF;
  background-color: white;
  //background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


.footer-container {
  margin-top: 10px;
}

footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: lightblue;
  margin-left: -150px;  
}

.text-footer {
  text-shadow: none;
  font-size: 14px;
  color: #337ab7;
  padding: 20px 0 0 5px;
  margin-left: 10px;
  margin-right: 5px;
}

.hide {
  display: none;
 }

.boldText {
  font-size: large;
  font-weight: 900;
}

.text-green {
  color: lightseagreen;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

nav {
  background-color: #e40046;
}

.navbarColor {
  background-color: #2d9aac;
}

.brandColor {
  color: white;
}

.errorMessage {
  color: #ff0000;
}

.hr-styling {
  width: 350%;
  border-top: 1px solid lightseagreen;
}

.editHeaderName {
  font-style: italic;
}

.navbar-header {
  .navbar-brand {
    color: #fff;
  }
}

.drag-left {
  margin-left: 75px
}

.footer-left {
  margin-left: -15px;
}

.text-align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.height-control {
  height: 200px;
  max-height: 200px;
}

.padding-left {
  padding-left: 25px;
  color: dimgrey;
}

 .italic-style {
  font-style: italic;
 }

.started-by {
  color: darkgrey;
  font-style: normal;
}

.end-time-status {
  font-style: normal;
}

.smaller-text {
  font-size: smaller;
}

.cursor-pointer {
  cursor: pointer;
}

.search-margin-top {
  margin-top: 10px;
}

.sort-bar-font {
  font-size: large;
  color: lightseagreen;
}

.search-margin-left {
  margin-left: -15px;
}

.card {
  font-family: 'Lora', serif;
}

.card-content {
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 16px 10px 16px 20px;
  margin: 16px 0px;
}

.card-image {
  height: "225px";
  width: "225px";
  border-radius: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  color: #2d9aac;
}

.card-desc {
  max-width: 650px;
}

.card-room-details {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding-top: 5px;
}

.card-room-spec {
  color: #757575;
  padding-left: .75em;
  font-weight: 700;
}

.card-amenities {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.card-amenities-head {
  font-size: 20px;
  font-weight: bold;
  color: #2d9aac;
}

.card-amenities-list {
  margin-top: 0;
  margin-bottom: 10px;
  list-style-type: none;
  margin-left: -25px;
}

.card-available {
  color: lightseagreen;
  margin-right: 5px;
}

.card-unavailable {
  color: brown;
  margin-right: 5px;
}

.card-content-no-data {
  display: flex;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 16px 16px 16px 20px;
  justify-content: center;
}

.card-ready-occupy {
  padding-top: 5px;
  color: mediumseagreen;
  padding-left: 0px;
}

.search-panel {
  background-color: lightseagreen;
  padding: 16px 16px 16px 16px;
  border: 0;
  margin: 0px;
  font-family: 'Lora', serif;
  border-radius: 0px;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 10%;
}

.icon-setter {
  max-width: 10px;
  margin-right: 10px;
}